$cor-primaria: #123249;
$cor-secundaria: #0c6aad;
$cor-terciaria: #9fd7ff;
$cor-quarternaria: #203a21;
$cor-assunto: #58595a;
$cor-assunto-p: #000000;
$cor-texto: #000000;
$cor-texto-b: #ffffff;
$letra-grande: xx-large;

body {
    background-color: #87aecb;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;

    img {
        width: 40px;
        height: 40px;
    }

    ul {
        display: flex;
    }

    li {
        list-style: none;
        padding: 5px;
    }

    li:hover {
        background-color: darken($cor-primaria, 2%);
    }

    a {
        text-decoration: none;
        color: $cor-secundaria;
        font-size: larger;
    }
}

main {
    background-image: url("../img/Ceu.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: $cor-primaria;
    font-size: $letra-grande;
}

h4 {
    color: $cor-texto;
    font-size: larger;
}

input {
    border: 2px solid $cor-secundaria;
    margin: 5px;
    font-size: medium;
}

button {
    background-color: $cor-secundaria;
    border-color: $cor-secundaria;
    font-size: medium;
}

button:hover {
    background-color: lighten($cor-primaria, 5%);
}

.artigo-irlanda {
    margin: 15%;
    font-size: 30px;
    line-height: 60px;
    padding: 20px;

    img {
        min-height: 500px;
        width: 1000px;
    }
}

.atividadeMixin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;

    /*Função mixin*/
    @mixin card ($corFundo, $border-radius, $padding) {
        background-color: $corFundo;
        border-radius: $border-radius;
        padding: $padding;
        width: 300px;
        min-height: 250px;
    }

    img {
        width: 220px;
        height: 200px;
    }

    .car-primario {
        @include card($cor-terciaria, 10px, 15px);
    }

    .car-secundario {
        @include card($cor-terciaria, 10px, 15px);
    }

    .car-terciario {
        @include card($cor-terciaria, 10px, 15px);
    }

    .car-quarternario {
        @include card($cor-terciaria, 10px, 15px);
    }

    button {
        display: flex;
        flex-direction: row;
    }

}

/*Detalhe da tabela*/
.ultimo-conteudo {

    h2 {
        text-align: center;
        color: $cor-primaria;
    }

    table {
        width: 100%;
        color: $cor-quarternaria;
        text-align: center;

        /*Função*/
        @mixin linha($tmBorder) {
            border-bottom: $tmBorder solid $cor-quarternaria;
        }

        @mixin colunaAssunto($corAssunto) {
            background-color: $corAssunto;
            min-width: 40%
        }

        /*Herança*/
        .corLetraAssunto {
            color: $cor-texto-b;
            text-transform: uppercase;
        }

        th {
            @include linha(2px);
            text-transform: uppercase;
        }

        td {
            @include linha(1px);
            padding: 30px;
        }

        .primeiras {
            @include colunaAssunto($cor-secundaria);
            @extend .corLetraAssunto;
        }

        .terceira {
            @include colunaAssunto($cor-assunto);
            @extend .corLetraAssunto;
        }

        .quarta {
            @include colunaAssunto($cor-assunto-p);
            @extend .corLetraAssunto;
        }

        .assunto {
            display: flex;
            justify-content: center;
        }

        .score {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            .like {
                color: green;
            }

            .dislike {
                color: red;
            }

            .star {
                color: gold;
            }
        }
    }

    .botao {
        display: flex;
        justify-content: center;
    }
}