@charset "UTF-8";
body {
  background-color: #87aecb;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
nav img {
  width: 40px;
  height: 40px;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  padding: 5px;
}
nav li:hover {
  background-color: rgb(15.9824175824, 44.3956043956, 64.8175824176);
}
nav a {
  text-decoration: none;
  color: #0c6aad;
  font-size: larger;
}

main {
  background-image: url("../img/Ceu.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: #123249;
  font-size: xx-large;
}

h4 {
  color: #000000;
  font-size: larger;
}

input {
  border: 2px solid #0c6aad;
  margin: 5px;
  font-size: medium;
}

button {
  background-color: #0c6aad;
  border-color: #0c6aad;
  font-size: medium;
}

button:hover {
  background-color: rgb(23.043956044, 64.010989011, 93.456043956);
}

.artigo-irlanda {
  margin: 15%;
  font-size: 30px;
  line-height: 60px;
  padding: 20px;
}
.artigo-irlanda img {
  min-height: 500px;
  width: 1000px;
}

.atividadeMixin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  /*Função mixin*/
}
.atividadeMixin img {
  width: 220px;
  height: 200px;
}
.atividadeMixin .car-primario {
  background-color: #9fd7ff;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  min-height: 250px;
}
.atividadeMixin .car-secundario {
  background-color: #9fd7ff;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  min-height: 250px;
}
.atividadeMixin .car-terciario {
  background-color: #9fd7ff;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  min-height: 250px;
}
.atividadeMixin .car-quarternario {
  background-color: #9fd7ff;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  min-height: 250px;
}
.atividadeMixin button {
  display: flex;
  flex-direction: row;
}

/*Detalhe da tabela*/
.ultimo-conteudo h2 {
  text-align: center;
  color: #123249;
}
.ultimo-conteudo table {
  width: 100%;
  color: #203a21;
  text-align: center;
  /*Função*/
  /*Herança*/
}
.ultimo-conteudo table .corLetraAssunto, .ultimo-conteudo table .quarta, .ultimo-conteudo table .terceira, .ultimo-conteudo table .primeiras {
  color: #ffffff;
  text-transform: uppercase;
}
.ultimo-conteudo table th {
  border-bottom: 2px solid #203a21;
  text-transform: uppercase;
}
.ultimo-conteudo table td {
  border-bottom: 1px solid #203a21;
  padding: 30px;
}
.ultimo-conteudo table .primeiras {
  background-color: #0c6aad;
  min-width: 40%;
}
.ultimo-conteudo table .terceira {
  background-color: #58595a;
  min-width: 40%;
}
.ultimo-conteudo table .quarta {
  background-color: #000000;
  min-width: 40%;
}
.ultimo-conteudo table .assunto {
  display: flex;
  justify-content: center;
}
.ultimo-conteudo table .score {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.ultimo-conteudo table .score .like {
  color: green;
}
.ultimo-conteudo table .score .dislike {
  color: red;
}
.ultimo-conteudo table .score .star {
  color: gold;
}
.ultimo-conteudo .botao {
  display: flex;
  justify-content: center;
}